@tailwind base;
@tailwind components;
@tailwind utilities;


/*make divs inserted by next accept flex styling*/
@layer base {
    [data-nextjs-scroll-focus-boundary] {
        display: contents;
    }
    h1 {
        @apply text-4xl
    }

    h2 {
        @apply text-3xl
    }

    h3 {
        @apply text-2xl
    }
}

body {
    margin: 0;
}
